<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">
    <li>
      {{#link-to 'index' class="nav-item nav-link"}}
        Home
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'articles' class="nav-item nav-link"}}
        Articles
      {{/link-to}}
    </li>
  </ul>
</div>

{{outlet}}
